html {
  scroll-behavior: smooth;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  text-rendering: geometricPrecision;

  &::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }

  h1::selection {
    color: white;
    background: $accentColor;
  }
}