.blog-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;

  .title {
    margin-bottom: 89px;
  }

  .blog-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 34, 34, .95);
    border-radius: 10px;
    justify-content: center;
    font-weight: bold;

    .blog-card {
      width: 80%;
      color: white;

      a {
        color: white;
        text-decoration: none;
        transition: all 0.5s ease-in-out;

        &:hover {
          color: $accentColor;
        }
      }
    }
  }
}