.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;

  a {
    font-size: 2rem;
    color: $accentColor;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $primaryColor;
    }
  }
}

#cpright {
  color: $accentColor;
}