.home-page {
  .portfolio-pic {
    display: flex;
    justify-content: center;
    width: 100vw;

    .image-circle {
      width: 300px;
      height: 300px;
      border-radius: 100%;
      overflow: hidden;
      z-index: 110;
      margin-bottom: -150px;
      animation: 0.5s ease-in-out;


      img {
        width: 300px;
        height: 300px;
      }


    }

  }

  .home-container {
    height: 100%;
    width: 100vw;
    background-color: $primaryColor;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text-container {
      padding-top: 150px;
      max-width: 80%;
      letter-spacing: 1px;
      cursor: default;
      padding-bottom: 100px;

      .transparent {
        color: transparent;
        user-select: none;
        height: none;
        width: none;
      }

      .green {
        position: absolute;
        color: $accentColor;
        user-select: all;
      }
    }
  }
}