@media (max-width: 650px) {
  .home-page {
    .portfolio-pic {
      .image-circle {
        width: 200px;
        height: 200px;
        z-index: 999;

        img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }

  .home-container {
    word-break: break;

    h1 {
      font-size: 22px;
    }
  }

  .projects-page {
    .projects-container {
      grid-template-columns: 1fr;
    }
  }

  .navigation-container {
    font-size: 1.5rem;

    .nav-menu-open {
      flex-direction: column;
      padding-top: 20px;
    }
  }

  .contact-page {
    .contact-container {
      .form-container {
        form {
          width: 100%;
        }
      }
    }
  }
}