@media (max-width: 650px) {
  .home-page {
    .portfolio-pic {
      .image-circle {
        width: 250px;
        height: 250px;
      }
    }
  }

  .home-container {
    word-break: break;

    h1 {
      font-size: 22px;
    }
  }

  .projects-page {
    .projects-container {
      grid-template-columns: 1fr;
    }
  }

}