.navigation-container {
  position: fixed;
  top: 0;
  display: flex;
  height: 100px;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 2rem;
  margin: 0 -20px;
  background-color: white;

  img {
    height: 60px;
    width: 100%;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    height: 50%;
    transition: 0.5s ease-in-out all;
    cursor: pointer;

    ul,
    a {
      list-style: none;
      text-decoration: none;
    }
  }

  .nav-menu-open {
    text-align: left;
    width: 100%;
    background-color: white;
    transition: 0.5s ease-in-out all;

    a {
      color: black;
      padding: 5px;
      transition: all 0.5s ease-in-out;

      &:hover {
        color: $accentColor;
      }
    }
  }
}