.navigation-container {
  position: fixed;
  z-index: 100;
  top: 0;
  display: flex;
  height: 100px;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
  font-size: 1.8rem;
  margin: 0 -20px;
  background-color: white;

  img {
    height: 60px;
    width: 100%;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    height: 100px;
    transition: 0.5s ease-in-out all;
    cursor: pointer;
    width: auto;

    ul,
    a {
      list-style: none;
      text-decoration: none;
      padding: 5px;
    }
  }

  .nav-menu-open {
    background-color: white;
    transition: 0.5s ease-in-out all;
    font-size: 1.2rem;
    height: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;

    a {
      color: black;
      transition: all 0.5s ease-in-out;

      &:hover {
        color: $accentColor;
      }
    }
  }
}